:host,
:root {
  --text-xxs: 0.625rem;
  --text-xxs--line-height: 1.2;

  --cosy-voice-break: var(--color-red-400, oklch(70.4% 0.191 22.216));
  --cosy-voice-phoneme: var(--color-fuchsia-400, oklch(74% 0.238 322.16));
  --cosy-voice-say-as: var(--color-indigo-400, oklch(67.3% 0.182 276.935));
  --cosy-voice-sound-event: var(--color-blue-400, oklch(70.7% 0.165 254.624));
  --cosy-voice-speak: var(--color-emerald-400, oklch(76.5% 0.177 163.223));
  --cosy-voice-sub: var(--color-orange-400, oklch(75% 0.183 55.934));
  --cosy-voice-voice: var(--color-yellow-400, oklch(85.2% 0.199 91.936));
}
